// Fonts
$font-stack: Avenir, 'Helvetica Neue', Helvetica, Arial, sans-serif;

$font-size-large: 24px;
$font-size-medium: 20px;
$font-size-small: 16px;

$font-weight-heavy: 900;
$font-weight-bold: 700;
$font-weight-normal: 500;

$font-color-light-primary: #ffffff;
$font-color-light-secondary: #b7b7b7;
$font-color-dark-primary: #000000;
$font-color-dark-secondary: #727272;

// Colors
$color-primary: #e6e6e6;
$color-secondary: #0096e3;

$color-done: #60c102;
$color-vit: #ffad00;
$color-edit: #636363;
$color-trash: #da4445;
