html, body, #app {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: arial;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../../assets/fonts/MaterialIcons-Regular.eot);
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(../../assets/fonts/MaterialIcons-Regular.woff2) format('woff2'),
    url(../../assets/fonts/MaterialIcons-Regular.woff) format('woff'),
    url(../../assets/fonts/MaterialIcons-Regular.ttf) format('truetype');
}
