/* google material icons - start */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/MaterialIcons-Regular.eot);
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(fonts/MaterialIcons-Regular.woff2) format('woff2'),
    url(fonts/MaterialIcons-Regular.woff) format('woff'),
    url(fonts/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}
/* google material icons - end */



* {
  padding: 0;
  margin: 0;
}

html, body, #vue {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.icon {
  cursor: pointer;
  font-size: 20px;
  padding: 3px;
  font-weight: bold;
  border-radius: 100px;
  border: 1px solid #8BC34A;
  /* background: #8BC34A; */
  margin-right: 10px;
}


.root {
  width: 350px;
  height: 90%;
  display: flex;
  flex-direction: column;
  border: 1px #E0E0E0 solid;
  border-radius: 5px;
  overflow: hidden;
}

.todo-items {
  height: inherit;
  padding: 10px;
  overflow-y: scroll;
}

.todo-item {
  padding: 10px;
  border: 1px #E0E0E0 solid;
  margin-bottom: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.todo-item-title {
  width: 100%;
}

.todo-item-icons {
  width: inherit;
  display: flex;
  justify-content: flex-end;
}

.todo-item-transition-enter-active, .todo-item-transition-leave-active {
  transition: all 1s;
}
.todo-item-transition-enter, .todo-item-transition-leave-to {
  opacity: 0;
  transform: translateX(300px);
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

.input-root {
  width: 100%;
  height: 60px;
  padding: 1px;
  border-top: 1px #E0E0E0 solid;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input {
  height: 100%;
  width: 280px;
  font-size: 17px;
  border: none;
  outline: none;
}
